
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.code{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    height: 20%;
    background-color: #40459d;
}
.body{
    width: 100%;
    height: 60%;
    display:flex;
}
.left{
    
    left: 0;;
    width: 20%;

    background-color: #ce301e;
}
.left div{
    height: 15%;
    padding-left: 20px;
    color:yellow;
    /* line-height: 50px; */
}
.left div:hover{
    background-color: rgb(135, 135, 236);
}
.animate{
    /* position:absolute; */
    background-color: rgb(135, 135, 236);

    animation-name: ani1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.animate2{
    background-color: #ce301e;

    animation-name: ani2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.main{
    width: 60%;


    background-color: #b6d0f1;
}
.right{
    width: 20%;
  
    right: 0;   

    background-color:#533117;
}
.footer{
    height: 20%;
    background-color: rgb(119, 250, 115);
}

@keyframes ani1{
    from  {
        transform:translateX(0);
        
    }
    to {
        transform:translateX(400%);
    }
}
@keyframes ani2{
    from  {
        transform:translateX(400%);   
    }
    to {
        transform:translateX(0);
    }
}